<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light">
    <a href="{{ path('home') }}" class="navbar-brand"><h1 class="text-primary">App</h1></a>
    {% if app.user %}
    <ul class="navbar-nav mx-auto">
    {% for role in app.user.roles %}
        {% if role == 'ROLE_ADMIN' %}
            <li class="nav-item {{ nav_user is defined ? 'active': '' }}"><a href="{{ path('user_index') }}" class="nav-link">Gérer les utilisateurs</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a></li>
    </ul>
    {% endif %}
</nav>