<nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="{{ path('home') }}" class="navbar-brand"><h1>App</h1></a>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a href="" class="nav-link">Administration</a></li>
    </ul>
</nav>